<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <!--Logowanie-->
  <title>Login</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link type="text/css" rel="stylesheet" href="/css/style.css">

</head>


<body>
<h2>Login Form</h2>
<form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="/register">Register here</a>.</p>
</body>
</html>