<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="styl1.css">
  <title>Login</title>
  <link type="text/css" rel="stylesheet" href="style.css">
  <style>




  </style>
</head>


<body>
<h2>Login Form</h2>
<form action="/login" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required>
  <button type="submit">Login</button>
</form>
<p>Don't have an account? <a href="/register">Register heree</a>.</p>
</body>
</html>