<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formularz</title>
</head>
<body>
<h1>Add Plan Exercise</h1>
<form action="/api/saveData" method="POST">


    <label for="sets">Sets:</label><br>
    <input type="text" id="sets" name="sets" required><br><br>

    <label for="repetitions">Repetitions:</label><br>
    <input type="text" id="repetitions" name="repetitions" required><br><br>



    <button type="submit">Wyślij</button>
</form>
</body>
</html>
